
.table {
    border-collapse: unset;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    border-spacing: unset;
}
.tbody {
    user-select: none;
    display: flex;
    flex-direction: column;
    .tr {
        display: grid;
        grid-template-columns:20% repeat(auto-fit,minmax(4rem,1fr));
        border-bottom: 0.1rem solid black;
        position: relative;
        &:last-child {
            grid-template-columns: 1fr;
            font-size: 1.1rem;
        }
        &.warn {
            &::before {
                z-index: 999;
                position: absolute;
                top: 100%;
                left: 0;
                background-color: black;
                content: '각 축은 다른 데이터 레이블을 가지는 것이 좋습니다.!';
                color: red;
                font-size: 0.9rem;
                padding: 0.2rem;
            }
        }
    }
    .th {
        font-size: 0.9rem;
        border-right: 0.1rem solid black;
        height: 100%;
        &.xKey {
            background-color: rgba(red,0.3);
        }
        &.yKey {
            background-color: rgba(blue,0.3);
        }
        &.zKey {
            background-color: rgba(green,0.3);
        }
    }
    .td {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.4rem;
        &.xKey {
            background-color: rgba(red,0.3);
        }
        &.yKey {
            background-color: rgba(blue,0.3);
        }
        &.zKey {
            background-color: rgba(green,0.3);
        }
    }
}